#result {
    display: none;
}

/*
The following animation was adapted from a tutorial on square to circle animation found on:
http://webdesign.tutsplus.com/tutorials/a-beginners-introduction-to-css-animation--cms-21068


*/

#triangle-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
}

.rotate {
    -webkit-animation: rotate 8s infinite linear;
}

.equilateral-triangle {
  border-color: transparent transparent coral transparent;
  border-style: solid;
  border-width: 0 75px 75px 75px;
  height: 0px;
  width: 0px;
  transition: all 1s;
}

.isosceles-triangle {
  border-color: transparent transparent coral transparent;
  border-style: solid;
  border-width: 0 50px 100px 50px;
  height: 0px;
  width: 0px;
  transition: all 1s;
}

.scalene-triangle {
  border-color: transparent transparent coral transparent;
  border-style: solid;
  border-width: 0 125px 60px 75px;
  height: 0px;
  width: 0px;
  transition: all 1s;
}

@-webkit-keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }


  /*0%  {
    border-color:transparent transparent coral transparent;
    border-width: 0px 100px 200px 100px;
    transform:rotate(0deg);
  }
  25%  {
    top-border: none;
    border-color:transparent transparent darksalmon transparent;
    border-width: 0px 100px 100px 200px;
    transform:rotate(45deg);
  }
  50%  {
    border-color:transparent transparent indianred transparent;
    border-width: 0px 200px 100px 100px;
    transform:rotate(90deg);
  }
  75%  {
    border-color:transparent transparent lightcoral transparent;
    border-width: 0px 200px 200px 100px;
    transform:rotate(135deg);
  }
  100% {
    border-color:transparent transparent darksalmon transparent;
    border-width: 0px 100px 100px 100px;
    transform:rotate(180deg);
  }*/
}
