#result {
    display: none;
}

body {
  background-color: darksalmon;
}
/*
The following animation was adapted from a tutorial on square to circle animation found on:
http://webdesign.tutsplus.com/tutorials/a-beginners-introduction-to-css-animation--cms-21068


*/

#triangle-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
}

.rotate {
    -webkit-animation: rotate 8s infinite linear;
}

.equilateral-triangle {
  border-color: transparent transparent coral transparent;
  border-style: solid;
  border-width: 0 75px 75px 75px;
  height: 0px;
  width: 0px;
  transition: all 1s;
}

.isosceles-triangle {
  border-color: transparent transparent coral transparent;
  border-style: solid;
  border-width: 0 50px 100px 50px;
  height: 0px;
  width: 0px;
  transition: all 1s;
}

.scalene-triangle {
  border-color: transparent transparent coral transparent;
  border-style: solid;
  border-width: 0 125px 60px 75px;
  height: 0px;
  width: 0px;
  transition: all 1s;
}

@-webkit-keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }

}
