#result {
    display: none;
}


#triangle-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
}

.rotate {
    -webkit-animation: rotate 8s infinite linear;
}

.equilateral-triangle {
  border-color: transparent transparent coral transparent;
  border-style: solid;
  border-width: 0 75px 75px 75px;
  height: 0px;
  width: 0px;
  transition: all 1s;
}

.isosceles-triangle {
  border-color: transparent transparent darksalmon transparent;
  border-style: solid;
  border-width: 0 50px 100px 50px;
  height: 0px;
  width: 0px;
  transition: all 1s;
}

.scalene-triangle {
  border-color: transparent transparent indianred transparent;
  border-style: solid;
  border-width: 0 125px 60px 75px;
  height: 0px;
  width: 0px;
  transition: all 1s;
}

@-webkit-keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }

}
